.grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  /*margin-bottom: 10px;*/
  border: solid 3px rgb(150, 150, 150);
}

.solution-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  /* margin-bottom: 10px; */
  border: solid 3px rgb(150, 150, 150);
}

.palette {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(2, 1fr);
  border: solid 3px rgb(150, 150, 150);
  
}

.cell {
  border: solid 3px rgb(150, 150, 150);
  font-size: 24px;
  cursor: pointer;
  padding: 0px;
  margin: 0px;
  
  }

.black-square {
  background-color: #186c6e;
  height: 100%;
  width: 100%;
  padding: -1px;
  border: -1px;
  margin: -1px;
  will-change: transform;
}

.red-square {
  background-color: rgb(158, 17, 17);
  height: 100%;
  width: 100%;
  padding: -1px;
  border: -1px;
  margin: -1px;
  will-change: transform;
}

.black-circle {
  background-color: #186c6e;
  border-radius: 50%;
  height: 100%;
  width: 100%;
  padding: -1px;
  border: -1px;
  margin: -1px;
  will-change: transform; /* Optimize for transform animations */
  
}

.red-circle {
  background-color: rgb(158, 17, 17);
  border-radius: 50%;
  height: 100%;
  width: 100%;
  padding: -1px;
  border: -1px;
  margin: -1px;
  will-change: transform;
}

.timer-container {
  width: 60px;
  height: 700px;
  border-radius: 10px;
  border: 1px solid rgb(97, 97, 97);
  position: relative;
}

.timer {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: #3a3a3a;
  text-align:center;
  font-size:40px;
  
}




.object {
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  width: 30px;
  height: 30px;
  margin-right: 10px;
  cursor: move;
}

.start-button,
.submit-button {
  font-size: 16px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 30px;

}

.message {

  margin-top: 10px;
}

.cell.dragging {
  opacity: 0.5;
}

.hidden {
  display: none;
  border-width: 0px;
  border: none;
  height: 0px;
  width: 0px;
  padding: 0%;
  margin: 0%;
}

.pastel-blue {
  background-color: #AED6F1;
}

.pastel-pink {
  background-color: #FADBD8;
}

.pastel-green {
  background-color: #D5F5E3;
}

.pastel-brown {
  background-color: #867070;
}

.pastel-brown-2 {
  background-color: #F5EBEB;
}


.title-bg-color {
  background-color: #3a3a3a;
  height: 100px;
  border-radius: 10px;
}

.content-bg-color {
  background-color: black;
}


.pastel-brown-4 {
  background-color: #F5EBEB;
}


.no-select {
  user-select: none;
}

.square {
  background-color: #f2f2f2;
  padding-top: 70%; /* Set the aspect ratio for the square */
}

.custom-range {
  width: 300px; /* Set the desired width */
  height: 10px; /* Set the desired height */
  background-color: orange;
  font-size: 90px;
  border-radius: 1px;
}

body {
  background-color: black;
  color: #ffffff;
}

.text-color{
  color: rgb(202, 202, 202);
}